.fixedContainer {
  background-color: rgba(250, 253, 255, 0.9);
}
.title {
  color: #000;
}
.peteranderson {
  color: black;
}

.me {
  color: #bbc;
}

.navLink,
.navLink:visited {
  color: #444;
}

.navLink:active {
  outline: dashed 1px #aab;
}
