.fixedContainer {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.container {
  width: 1200px;
  /* opacity: 0; */
  /* animation: fade-in 3s 1s; */
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80px;
  padding: 0 20px;
}

.socialLinksContainer {
  margin-right: 20px;
}

.socialLinksContainer > :first-child {
  margin-right: 10px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-weight: bolder;
  font-size: 1.2em;
  margin-right: 2.4em;
  transition: color 500ms;
}

.title a,
.title a:visited {
  text-decoration: none;
  color: #000;
}

.spacer {
  flex-grow: 1;
}

.sunMoonContainer {
  margin-left: 5px;
}

.navLink {
  display: block;
  text-decoration: none;
  padding: 20px 20px;
}

.desktopLinks {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.hamburgerButtonContainer {
  display: none;
  cursor: pointer;
}

@media (max-width: 780px) {
  .desktopLinks {
    display: none;
  }

  .hamburgerButtonContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
