@use "../../styling/colors--light.scss" as colors;

.fixedContainer {
  background-color: rgba(colors.$backgroundColor, 0.8);
  // box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
.title {
  color: #000;
}
.peteranderson {
  color: black;
}

.me {
  color: #bbc;
}

.navLink,
.navLink:visited {
  color: #444;
}

.navLink:active {
  outline: dashed 1px #aab;
}
