@use "../../styling/colors--dark.scss" as colors;

.fixedContainer {
  background: colors.$backgroundColor;
  // box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.container {
  color: white;
}

.title {
  color: white;
}

.me {
  color: rgb(209, 209, 230);
}

.peteranderson {
  color: #fafafa;
}

.navLink:active {
  outline: dashed 1px #aab;
}

.navLink,
.navLink:visited {
  color: #fff;
}
