@use "../../styling/colors--light.scss" as colors;

.fixedContainer {
  background-color: rgba(colors.$backgroundColor, 0.8);
}

.navLink,
.navLink:visited {
  color: colors.$primaryTextColor;
}

.navLink:active {
  outline: dashed 1px lighten(colors.$secondaryTextColor, 40%);
}
