@use "../../styling/colors--dark.scss" as colors;

.fixedContainer {
  background: rgba(colors.$backgroundColor, 0.8);
}
.container {
  color: white;
}

.navLink:active {
  outline: dashed 1px desaturate(darken(colors.$primaryTextColor, 20%), 50%);
}

.navLink,
.navLink:visited {
  color: colors.$primaryTextColor;
  position: relative;
}

.activeTab {
  background-color: hsl(colors.$hue, 70%, 50);
}
