.container {
  max-width: 600px;
  margin: auto;
  margin-top: 60px;
  min-height: 500px;
}

.row {
  display: block;
}

.messageRow {
  display: block;
  padding-top: 10px;
}

.actionRow {
  text-align: right;
}
