.container {
  padding-top: 40px;
}

.title {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}

.content {
  line-height: 1.5em;
  font-size: 1.25em;
  max-width: 1000px;
  margin: 60px auto;
}

.content h2 {
  margin-top: 80px;
}
.content p,
.content ul,
.content ol {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  line-height: 1.75;
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.heroImage {
  width: 100%;
  margin: 0;
  line-height: 1em;
  border-radius: 4px;
}

.heroImageReference {
  display: block;
  line-height: 0.6em;
  font-size: 0.6em;
  text-align: right;
  margin-bottom: 40px;
}

.articleDate {
  font-size: 0.75em;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;
}

.articleContent {
  img {
    max-width: 100%;
  }
  figure {
    margin: 0 auto;
    text-align: center;
  }
}

.content {
  margin-bottom: 120px;
}

@media (max-width: 750px) {
  .title {
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 0.65em;
  }
}

:global {
  .comic-container {
    text-align: center;
    margin: 40px auto 40px auto;
    display: block;
    width: 80%;
    border-radius: 4px;
    overflow: hidden;
  }

  .comic-container img {
    display: block;
    width: 100%;
  }

  @media (max-width: 820px) {
    .comic-container {
      margin: 0 auto;
      width: 100%;
    }
  }
}
