@use '../../styling/colors--light.scss' as colors;
.button,
.buttonLoading {
  position: relative;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.75em 2em;
  font-weight: bold;
  margin: 0;
  display: inline-block;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

.hidden {
  opacity: 0;
}

.loadingIcon {
  position: absolute;
  display: block;
  bottom: 11px;
  left: calc(50% - 10px);
}
