@use "../../styling/colors--light.scss" as colors;

.container {
  background-color: hsla(colors.$hue, 22%, 93%, 0.9);
  border-radius: 16px;
  width: 34px;
  padding: 2px;
  cursor: pointer;
  border: solid 1px hsla(colors.$hue, 22%, 84%, 0.9);

  &:hover {
    border: solid 1px hsla(colors.$hue, 36%, 75%, 0.9);
  }
}

.toggleTheme {
  background-color: white;
  border: solid 1px #ddd;
}
