.topBottomBar {
  opacity: 0;
  transition: opacity 100ms;
}

.middleOneBar {
  transform: rotate(45deg);
  transform-origin: center;
  transition: all 500ms 100ms;
}

.middleTwoBar {
  opacity: 1;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: all 500ms 100ms;
}
