.container {
  --size: 29px;
  padding: var(--size);
  margin: calc(var(--size) * -1);
  margin-right: -20px;
  margin-left: -20px;
  transition: background-color 250ms;
}

.closedContainer {
  transition: background-color 250ms 250ms;
}
