.container {
  padding-top: 120px;
  text-align: center;
}

.articlesContainer {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.olderArticlesContainer {
  margin-top: 40px;
}
.olderArticlesContainer > a {
  margin-bottom: 10px;
}
