.intro {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fade-in 1s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  line-height: 1.5em;
  height: calc(100vh - 105px);
}

.introContent {
  position: relative;
  top: -100px;
}

.summary {
  margin-top: 3em;
  opacity: 0;
  animation: fade-in 500ms;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}

.hand {
  animation: wave 250ms;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier();
  display: inline-block;
  transform-origin: bottom right;
  cursor: grab;
}

.handStart {
  animation-delay: 1s;
  user-select: none;
}

.section {
  display: block;
  text-align: center;
  padding-top: 10px;
  min-height: 100vh;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
