.intro {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fade-in 1s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  line-height: 1.5em;
  min-height: 100vh;
}

.introContent {
  padding-bottom: 100px;
  position: relative;
  em {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.summary {
  margin-top: 3em;
  opacity: 0;
  animation: fade-in 1.5s 1.5s;
  animation-fill-mode: forwards;
  font-size: 1.1em;
  top: -20px;
  line-height: 1.75em;
}

.hand {
  animation: wave 250ms;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier();
  display: inline-block;
  transform-origin: bottom right;
  cursor: grab;
}

.handStart {
  animation-delay: 1s;
  user-select: none;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
